
  @foreach (var contact in Model) {
    <div>
      <h1>@contact.GetField("firstName") @contact.GetField("lastName")</h1>
      <h2>Phone: @contact.GetField("phoneNumber")</h2>
      <h2>Email: @contact.GetField("email")</h2>
      <h2>Address: @contact.GetField("address")</h2>
      <h2>Company: @contact.GetField("company")</h2>
    </div>
  }

<a href="/goToForm">Add Contact</a>
